*~
/build*
.sconsign.dblite
.kdev4/
.kdev_include_paths
mtoa.kdev4
/Makefile
*.pyc
/*.sln
/*.suo
/*.ncb
/*.vcproj
/*.obj
/*.patch
/custom.*py
/plugins/mtoa/utils/MercurialID.h
/plugins/mtoa/utils/BuildID.h
/external/qt*
/MtoA*.exe
/MtoA*.run
/MtoA*.pdb
/*.zip
/.vscode*
