*~
build*
.sconsign.dblite
.kdev4/
.kdev_include_paths
mtoa.kdev4
Makefile
*.pyc
*.sln
*.suo
*.ncb
*.vcproj
*.obj
/custom.py
plugins/mtoa/utils/MercurialID.h
external/qt-4.8.5-include/*
external/qt-4.8.6-include/*
external/qt-5.6.0-include/*
external/qt-5.6.1-include/*
*.exe
*.zip

